@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Titillium+Web&display=swap');

.App {
  text-align: center;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.p {
  word-break: break-all;

}
/* unvisited link */
a:link {
  color:black;
  text-decoration: none;

}

/* visited link */
a:visited {
  color:rgb(11, 11, 11);
}

/* mouse over link */
a:hover {
  color: rgb(209, 252, 143);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 10px;
  background: #efefef;
  text-align: center;
}

